.container {
  background-color: rgb(171, 209, 239);
  text-align: center;
  border: 2px;
  font-size: 20px;
  margin-bottom: 10px;

}

.foote{
width: 50%;

}
.lolo{
  color: white;
}
.boss-foote{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.boss-foote1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:self-end
 
}
.container-fluid{

  font-size: 17px;
  padding-left: 26px;
  padding-right: 22px;

}
.imagblog{
  max-width: 100%;
  height: 500px;
  margin-bottom: 10px; 
   border-radius: 10px;
   
}
.imagblog-cc{
  text-align: center;
margin: 10px 0px;
  width: 100%;
}

.container-fluid{
  background-color: rgb(171, 209, 239);
}
.navbar-nav {

  margin-left: 40px;
  

}
.aricle{
width: 100%;
padding-left: 130px;
padding-right: 90px;
margin-top: 20px;
text-align: justify;
  
}
.password-contener{
  margin-top: 200px;
  width: 500px;
  height: 200px;
  position: absolute;
  background-color: rgb(211, 184, 184);
  display:flex;
  justify-content:center;
  flex-direction: column;
  text-align: center;
  font-size: 21px;
  border-radius: 5px;

  

}
.passate{
  background-image: url("imag11.jpg");
  position: relative;
  display: flex;
  justify-content: center;
  text-align:center;
  
}
.btte{
  max-width: 80px;
  max-height: 60px;
  background-color: green;
  color: aliceblue;
  border-radius:10px ;
  margin-left: 50%;
  cursor: pointer;
 
}
.inputa{
  max-width: 170px;
  max-height:50px ;
  border-radius: 7px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .text h2{
    font-size: 22px;
    text-align:center;
    text-align: center;
    
   
  }
  .text {
    font-size: 22px;
    text-align:center;
    text-align: center;
    
   
  }
  .text button{
    font-size: 22px;
    text-align:center;
    text-align: center;
    
  }
  .green-bar{
  background-color: rgb(171, 209, 239);
  max-width: 1500px;
  height: 80px;
   font-family: roboto;
   text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
  border-radius: 10px;
  }
  .acceuil-imag img{
    display: none;
    width: 0px;
    
  }

  .acceuil-text{
    text-align:initial;
    width: 100%;
    height: 1900px;
  }
  .parti-acceuil-txt h4 {
    font-weight: bold;
    
  }
  
  .services{
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    justify-content:center;
    max-width: 100%;
  }
  
  .parti-acceuil-txt{
    width: 100%;
    height: 2220px;
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-size: 20px;
    text-align: initial;
    padding: 0px;  
    padding-left: 10px;
    padding-right: 20px;
  }
  .parti2-acceuil-txt h4 {
    font-weight: bold;
    
  }
  .parti2-acceuil-txt{
    width: 100%;
    height: 3300px;
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-size: 20px;
    text-align: initial; 
    padding: 0px;  
    padding-left: 0px;
    padding-right: 20px;
  }
  .hero-text{
    position: absolute;
    font-size:22px;
    font-weight: 800;
  }
  .hero-services{
    position:relative;
    width: 100%;
    height: 155px;
    padding-top: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items:center;
  }
    
   .body{
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
   }

   .services-text{
    margin: 0px;
    padding-left: 0px;
  padding-right: 0px;
    max-width:100% ;
    font-size: 20px;
    text-align:initial;
    max-height: 5300px
  }
  .services-image{
    display: none;
  
}
.boss-foote{
  display: none;
}
.imagblog-cc{ 
  text-align: center;
  margin: 10px 0px;
  width: 100%;

}
.imagblog{
  height: 300px; 
  text-align: center;
   margin-bottom: 10px; 
   border-radius: 10px;
   max-width: 100%;

}
.aricle{
width: 100%;
padding-left: 30px;
padding-right: 30px;
margin-top: 20px;
text-align:initial;
font-family:roboto;
font-size: 20px;

}

.aricle h2{
  text-align:start;
  font-size: 23px;
}
}
@media screen ( 390*844){
  .parti-acceuil-txt{
    width: 100%;
    height: 1750px;
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-size: 20px;
    text-align: initial;
    padding: 0px;  
    padding-left: 10px;
    padding-right: 20px;
  }
  .parti2-acceuil-txt h4 {
    font-weight: bold;
    
  }
  .parti2-acceuil-txt{
    width: 100%;
    height: 2700px;
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-size: 20px;
    text-align: initial; 
    padding: 0px;  
    padding-left: 10px;
    padding-right: 20px;
  }
}
  
