* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1350px;
  position: relative;
  margin:auto;
  border-radius: 5px;
  margin-top: 10px;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
  text-align: center; 
}

.text h2{
  font-size: 40px;
  z-index: 1;color: #f2f2f2;


}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  border-radius: 10px; /* To match the image border-radius */
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}
.parti-acceuil-txt{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 820px;
  display: flex;
  justify-content:space-between ;
  padding:  0px 60px;
  font-family: roboto;
  font-size: 15px; 
}

.parti2-acceuil-txt{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 1350px;
  display: flex;
  justify-content:space-between ;
  padding:  0px 60px;
  font-family: roboto;
  font-size: 15px;
}
.green-bar-father{
  width: 100%;
 height: 80px;
 align-items: center;
 display: flex;
 justify-content: center;
 background-color: #9a5b5b;
}

.acceuil-txt{
  background-color: rgb(255, 255, 255);
  width: 60%;
  height: 810px;
  margin-top: 10px;
}
.acceuil-imag{
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 800px;
  border-radius: 20px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}
  
.acceuil2-txt{
  background-color: rgb(255, 255, 255);
  width: 60%;
  height: 800px;
  padding-top: 0px;
}
.acceuil2-imag{
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 1200px;
  border-radius: 20px;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero-services{
  position:relative;
  width: 100%;
  height: 250px;
  background-color: rgb(255, 255, 255);
  top: 0px;  
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  
 


}
.hero-text{
  position: absolute;
  font-size:44px;
  font-weight: 700;
}


.body1{
background-image: url("images/backbround1.jpg");
align-items: center;

}
.label {
  font-family: 'Open Sans' sans-serif;
  color: #fff;
  margin: 0;
}
.container1 {
  display: block;
  border: 8px solid #cecee6;
  border-radius: 10px;
  margin: 10px auto;
  padding: 0 0 10px 10px;
  max-width: 630px;
  background-color: rgb(133, 138, 141);
  justify-content: end;
}
.title {
  display: inline-block;
}
.title h2 {
  padding: 0 10px 0 0px;
  margin: 5px 0;
  color: #FBFBFB;
}

form {
  padding: 10px 10px 0 0;
 
  
}
hr {
  width: 100%;
  display: block;
  margin: 5px 0;
  height: 5px;
  border: 0;
  background-color: #ffffff;
}
input,
textarea {
  width: 100%;
  border: 5px solid #FFFFFF;
  border-radius: 3px;
  resize: none;
  padding: 0 5px;
  box-sizing: border-box;
  font-family: 'Open Sans' sans-serif;
  font-size: 16px;
  color: #000000;
}
input[type="text"],
input[type="email"] {
  padding: 0 1px;
  height: 40px;
  width: 100%;
}
input:focus,
textarea:focus {
  outline: none;
}
.form-input {
  margin: 5px 0 10px 0;
}
.form-textarea {
  margin: 5px 0;
  width: 100%;
  height: 200px;
}
input[type="submit"] {
  pointer-events: inherit;
  width: 150px;
  height: 50px;
  background-color: #060606;
  border: 0;
  color: #fff;
  border: 5px solid #414178;
  border-radius: 20px;
  margin: 10px 0 0 0;
  font-family: 'Open Sans' sans-serif;
  font-size: 22px;}

  .container-forme{
    padding-top: 30px;
    padding-right: 40px;
    width: 68%;
    background-color: rgb(6, 147, 228);
  }
  .adress{
    padding-top: 40px;
    padding-left: 50px;
    width: 46%;
    color: #ffffff;
    
    
  }
  .contact-form-container{
    display: flex; justify-content: space-between;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 60px;
    font-weight: roboto;
    font-size: 17px;
  }
  .submit-container{
    text-align: center;
    margin: 0px;

  }.green-bar{
  background-color: rgb(171, 209, 239);
  max-width: 1820px;
  height: 80px;
   font-family: roboto;
   text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 10px;
  
  }
  
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}

}
/*medium screen */
@media (max-width: 800px) {
  .fade{
  margin-top: 0px;
  }

}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
@media (max-width: 800px) {
  .green-bar{
    margin: 0px 5px;
    font-size: 16px;
    height: 40px;
  }
  .acceuil-imag{
    margin: 0px 5px;
    font-size: 12px;
    display: none;
   
  }
.acceuil-txt{
    width: 100%;
    height: 900px;
    padding-bottom: 0px;

  }
.acceuil2-txt{
    width: 100%;
    height: 900px;
    margin: 10px 10px ;
    
  }
.acceuil2-imag{
    display: none;
    
  }
  .footer{
    height: 80px;
  }
.parti2-acceuil-txt{
      

    }

.services-image  img{
      max-width:110px ;

    }
.services-image {
            max-width: 20%;
          display: none;
    
          }

.services-text{
            padding-top: 10px;
            max-width: 100%;
            margin-left: 0px;
            font-size: 18px;
            text-align:justify;
          
           
          }

  services{
            padding-top: 10px;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            
          
          }
          
          .kidServices{
            max-width: 100%;
            padding-top: 10px;
            display:table-row;
            flex-direction: column;
            justify-content:center
          }
          .container1{
            display: block;
              border: 8px solid #cecee6;
              border-radius: 10px;
              margin: 0 auto;

              padding: 0 0 10px 10px;
              max-width: 200x;
              background-color: rgb(133, 138, 141);
              margin-left: 40px;
              
          }
 .adress{
            padding-top: 10px;
            padding-left: 50px;
            width: 100%;
            color: #ffffff;
            font-size: 16px;
            margin-right: 0px;
            text-align: justify;
          }
.adress h3{
            font-size: 16px;
          }

.contact-form-container{
            
          flex-direction: column;
          }

 .imagblog-cc img{
            width: 600px;

          
          }

.aricle{
           font-size: 18px;
          margin-top: 10px -10px;
          max-width: 100%;
          text-align: justify;
          
          }

.text {
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%); 
            color: white; 
            text-align: center; 
          }


}

         
          